*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#title {
    color: blue;
}

/* to change the color of an element, for example, if error occurs, or success happens after*/ 
#title1 {
    color: brown;
}

#title2 {
    color: green;
}

.btn-1 {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-2 {
    background-color: red;
    color: white;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: not-allowed;
}

.main-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.form-container {
    margin: 2rem auto;
    width: 34%;
    height: auto;
    background-color: lightblue;
    padding: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid #1e1e1e;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

.input-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

textarea {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 3rem 1rem;
}

input {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.button-container {
    width: 100%;
    height: auto;
}

button {
    width: 100%;
    height: auto;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.posts-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 0rem 2rem 0rem;
}

p {
    font-size: large;
    color: #1e1e1e;
}